PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
MONGO_URI=your_mongodb_atlas_connection_string_here
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=7d
ISSUE_PERIOD_DAYS=14
FINE_PER_DAY=5